body {
  height: 100%;
  background-color: #eee;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 1444px;
  margin: 0 auto;
  padding: 0 12px;
}

.home {
  position: relative;
  /* .home__content */
  /* .home__container */
  /* .home__prod */
  /* .home__stats */
  /* .home__list */
  /* .home__list-item */
  /* .home__btn */
}

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  padding-bottom: 100px;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
}

.home__prod {
  -webkit-transform: translate(-150%, 0px);
      -ms-transform: translate(-150%, 0px);
          transform: translate(-150%, 0px);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.home__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transform: translate(150%, 0px);
      -ms-transform: translate(150%, 0px);
          transform: translate(150%, 0px);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.home__list {
  font-weight: 500;
  font-size: 46px;
  list-style: none;
  color: #222222;
}

.home__list-item:not(:first-child) {
  margin-top: 20px;
}

.home__btn {
  margin-top: 95px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 230px;
  background-color: transparent;
}

.title {
  font-weight: bold;
  font-size: 82px;
  line-height: 96px;
  color: #222222;
}

.title__span {
  color: #E7BA12;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -20;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn,
.form__submit {
  width: 100%;
  max-width: 300px;
  height: 60px;
  font-weight: 500;
  font-size: 32px;
  color: #E7BA12;
  background-color: #5A1B5D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.composition {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  /* .composition__line */
  /* .composition__prod */
  /* .composition__btn */
}

.composition__line {
  width: 100%;
  border: 1px solid #222222;
}

.composition__line_top {
  margin-top: 135px;
}

.composition__line_top_left {
  -webkit-transform: rotate(19.13deg);
      -ms-transform: rotate(19.13deg);
          transform: rotate(19.13deg);
}

.composition__line_top_right {
  -webkit-transform: rotate(160.87deg);
      -ms-transform: rotate(160.87deg);
          transform: rotate(160.87deg);
}

.composition__line_middle {
  width: calc(100% - 10px);
  margin-left: 5px;
}

.composition__line_bottom {
  margin-bottom: 135px;
}

.composition__line_bottom_left {
  -webkit-transform: rotate(-19.13deg);
      -ms-transform: rotate(-19.13deg);
          transform: rotate(-19.13deg);
}

.composition__line_bottom_right {
  -webkit-transform: rotate(-160.87deg);
      -ms-transform: rotate(-160.87deg);
          transform: rotate(-160.87deg);
}

.composition__prod {
  width: 100%;
}

.composition__btn {
  position: absolute;
  bottom: 35px;
}

.component-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  max-width: 250px;
}

.component {
  width: 100%;
  max-width: 250px;
  padding: 30px 10px 25px;
  text-align: center;
  background-color: #FFE47E;
  border: 1px solid #5A1B5D;
  /* .component__img */
  /* .component__name */
}

.component:not(:first-child) {
  margin-top: 60px;
}

.component__name {
  margin-top: 25px;
  font-weight: 500;
  font-size: 24px;
  color: #222222;
}

.line-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  max-width: 245px;
}

.prod-col {
  width: 30%;
  max-width: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback {
  background-color: #eee;
  padding-top: 100px;
  padding-bottom: 100px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  max-width: 625px;
  margin: 0 auto;
  padding: 35px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  /* .comment__user-container */
  /* .comment__avatar */
  /* .comment__name */
  /* .comment__text */
}

.comment__user-container {
  width: 100%;
  padding: 15px 10px 20px;
  background-color: #FFE47E;
}

.comment__avatar {
  border-radius: 50px;
}

.comment__name {
  margin-top: 50px;
  font-weight: bold;
  font-size: 40px;
  color: #222222;
}

.comment__text {
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  color: #222222;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  position: relative;
  padding: 0 120px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -50px 0 0 0;
  z-index: 10;
  width: 100px;
  height: 100px;
  background: none;
  border: none;
  font-size: 0;
  cursor: pointer;
}

.slider .slick-prev {
  background-image: url("../img/icons/prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 0;
}

.slider .slick-next {
  background-image: url("../img/icons/next.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  right: 0;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots li.slick-active button {
  background-color: #E7BA12;
}

.slider .slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: #FFE47E;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.promo {
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  /* .promo__doctor-col */
  /* .promo__doctor */
  /* .promo__desc-col */
  /* .promo__desc */
  /* .promo__btn */
  /* .promo__stats-col */
  /* .promo__list */
  /* .promo__list-item */
}

.promo__doctor-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 49%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.promo__doctor {
  width: 100%;
  max-width: 520px;
}

.promo__desc-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.promo__desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 169.19%;
  color: #222222;
}

.promo__btn {
  margin-top: 80px;
}

.promo__stats-col {
  width: 100%;
  margin-top: 150px;
  padding: 50px 5px;
  background-color: #FFE47E;
  border: 1px solid #5A1B5D;
}

.promo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.promo__list-item {
  list-style: none;
  font-weight: 500;
  font-size: 30px;
  color: #222222;
}

.request {
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  /* .request__title */
  /* .request__timer */
  /* .request__prod-col */
  /* .request__new-price */
  /* .request__old-price */
  /* .request__form */
}

.request__title {
  width: 100%;
  text-align: center;
}

.request__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 50px;
}

.request__prod-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
  margin-top: 45px;
}

.request__new-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  margin-top: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  color: #FF0000;
  -webkit-animation: sale 2s infinite ease-in-out;
          animation: sale 2s infinite ease-in-out;
}

.request__new-price_time-out {
  font-size: 0;
  -webkit-animation: none;
          animation: none;
}

.request__old-price {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #222222;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.request__old-price_time-out {
  font-size: 48px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.request__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
  margin-top: 45px;
}

.timer {
  padding: 10px 5px;
  font-weight: bold;
  font-size: 32px;
  color: #FF0000;
  background-color: #fff;
  border-radius: 10px;
  /* .timer__img */
  /* .timer__text */
  /* .timer__time */
}

.timer__text {
  margin: 0 15px;
}

.form {
  padding: 25px 45px 65px;
  background-color: #FFE47E;
  border: 1px solid #5A1B5D;
  border-radius: 20px;
  /* .form__title */
  /* .form__inputs */
  /* .form__inp-container */
  /* .form__inp */
  /* .form__tip */
  /* .form__name */
  /* .form__phone */
  /* .form__submit */
}

.form__title {
  font-weight: 500;
  font-size: 48px;
}

.form__inputs {
  width: 100%;
  margin-top: 60px;
}

.form__inp-container {
  position: relative;
}

.form__inp-container:last-child {
  margin-top: 50px;
}

.form__inp {
  width: 100%;
  height: 70px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
}

.form__inp:focus + .form__tip {
  display: block;
}

.form__tip {
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  color: #A5A5A5;
  z-index: 20;
}

.form__submit {
  margin-top: 130px;
}

@-webkit-keyframes sale {
  from {
    font-size: 48px;
  }

  50% {
    font-size: 54px;
  }

  to {
    font-size: 48px;
  }
}

@keyframes sale {
  from {
    font-size: 48px;
  }

  50% {
    font-size: 54px;
  }

  to {
    font-size: 48px;
  }
}

.animate-done {
  -webkit-transform: translate(0, 0) !important;
      -ms-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
  opacity: 1 !important;
}

@media (max-width: 1310px) {
  .home__list {
    font-size: 34px;
  }

  .promo__list-item {
    font-size: 24px;
  }
}

@media (max-width: 975px) {
  .home__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }

  .home__container {
    width: 100%;
  }

  .home__list {
    margin-top: 50px;
  }

  .home__btn {
    margin-top: 60px;
  }

  .composition {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .component-col {
    width: 50%;
  }

  .component-col:last-child {
    margin-left: 15px;
  }

  .line-col {
    display: none;
  }

  .prod-col {
    display: none;
  }

  .comment {
    max-width: 500px;
  }

  .promo__desc {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .home__content {
    padding-bottom: 50px;
  }

  .composition {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .feedback {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .promo {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .promo__desc {
    font-size: 16px;
  }

  .promo__btn {
    max-width: 250px;
    margin-top: 60px;
    font-size: 26px;
  }

  .promo__stats-col {
    margin-top: 60px;
    padding: 20px 5px;
  }

  .promo__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo__list-item {
    font-size: 22px;
  }

  .promo__list-item:nth-child(2) {
    margin: 10px 0;
  }

  .request {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .request__prod-col {
    width: 100%;
  }

  .request__form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .home__list {
    font-size: 22px;
  }

  .prod {
    width: 215px;
    height: 333px;
  }

  .btn,
  .form__submit {
    max-width: 250px;
    height: 50px;
    font-size: 24px;
  }

  .component:not(:first-child) {
    margin-top: 25px;
  }

  .component__img {
    width: 80px;
    height: 80px;
  }

  .component__name {
    font-size: 18px;
  }

  .comment {
    padding: 15px;
  }

  .comment__user-container {
    padding: 5px 10px 7px;
  }

  .comment__avatar {
    width: 123px;
    height: 123px;
    border-radius: 20px;
  }

  .comment__name {
    margin-top: 21px;
    font-size: 18px;
  }

  .comment__text {
    margin-top: 16px;
    font-size: 14px;
  }

  .slider {
    padding: 0 60px;
  }

  .slider .slick-arrow {
    width: 50px;
    height: 50px;
  }

  .promo__doctor-col {
    width: 100%;
  }

  .promo__desc-col {
    width: 100%;
    margin-top: 40px;
  }

  .timer__text {
    display: none;
  }

  .timer__time {
    margin-left: 15px;
  }

  .form {
    padding: 25px 10px 35px;
  }

  .form__submit {
    margin-top: 60px;
  }
}